.file{
    /* Needed to keep the icon visible */
    filter: brightness(1); 
}

.file:hover{
    filter: brightness(0.9);
}

.chip{
    border: white 1px solid;
    border-radius: 50px;
}

.icon{
    position: absolute;
    right: 0px;
    top: -30px;
    color: lightgreen;
    filter: brightness(0.9);
    z-index: -1;
}